{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Upload your Android application!</title>
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <div class="container">

        <div class="row justify-content-center align-items-center" style="height:70vh;">
            <div class="col-auto jumbotron">
                <div class="row">
                    <div class="col-auto"><h2>Upload your Android application!</h2></div>
                </div>
                <hr class="my-4">
                <div class="row justify-content-center">

                    <form method="POST" id="send_app" action="{% url 'upload_app' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-auto">
                            <label class="btn btn-info" for="application-selector">
                                <input id="application-selector" type="file" name="application_file" style="display:none">
                                Select from PC
                            </label>
                        </div>
                    </form>

                    <div class="col-auto">
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p>
                            {% if uploaded_file_url %}
                                the file was uploaded successfully
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#application-selector").change(function() {
                $('#send_app').submit();
            });
        });
    </script>

  </body>
</html>